* {
    box-sizing: border-box;
}

@font-face {
    font-family: "LearnQuest";
    src: url("/assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #111;
    font-family: sans-serif;
}

canvas {
    display: block;
}